language: python
sudo: false
python: 2.7
os: linux
services: docker
addons:
  apt:
    packages:
    - oracle-java8-installer
matrix:
  include:
    - env:
        - CWL_TEST_V1=1 CWL_NAME_LIST="hi-c-processing-pairs hi-c-processing-bam pairs-patch addfragtopairs pairsam-filter pairsam-markasdup merge-pairs pairsam-merge pairsam-parse-sort extract-mcool-normvector-for-juicebox md5 fastqc-0-11-4-1 cool2mcool bwa-mem md5-validate"
      install:
        - pip install cwltool==1.0.20180806194258  # for v1
      script:
        - set -e;
          for CWL_NAME in $CWL_NAME_LIST; do
             source tests/tests_v1.sh $CWL_NAME;
          done;
          set +e;
    - env:
        - CWL_TEST_DRAFT3=1 CWL_NAME_LIST="hi-c-processing-pairs hi-c-processing-bam pairs-patch addfragtopairs pairsam-filter pairsam-markasdup merge-pairs pairsam-merge pairsam-parse-sort extract-mcool-normvector-for-juicebox md5 fastqc-0-11-4-1 cool2mcool bwa-mem md5-validate"
      before_install:
        - pip install schema_salad
      install:
        - pip install git+https://github.com/SooLee/cwltool.git  # cwltool, for draft-3
      script:
        - set -e;
          for CWL_NAME in $CWL_NAME_LIST; do
             source tests/tests.sh $CWL_NAME;
          done;
          set +e;
    - env:
        - WDL_TEST=1 CROMWELL_JAR=cromwell.jar WDL_NAME_LIST="bwa-mem"
      install:
        - wget https://github.com/broadinstitute/cromwell/releases/download/29/cromwell-29.jar -O $CROMWELL_JAR
      script:
        - set -e;
          for WDL_NAME in $WDL_NAME_LIST; do
             source tests/tests_wdl.sh $WDL_NAME $CROMWELL_JAR;
          done;
          set +e;
